.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-right-10 {
    margin-right: 10px;
}

body {
    padding-top: 30px;
    padding-bottom: 60px;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

.error {
    border: .5px solid red;
}

.hidden {
    visibility: hidden;
}

.bold {
    font-weight: bold;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.narrow {
    width: 70%;
}

textarea {
    width: 300px;
    height: 120px;
}

table {
    padding-bottom: 5px;
}

div.color-legend {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 15px;
}

div.color-legend div {
    display: inline-block;
}

div.color-legend-item {
    padding-right: 40px;
}

div.color-box {
    width: 15px;
    height: 15px;
    border: 1px solid #000;
}

div.text-box {
    position: relative;
    top: -2px;
}

div.color-legend .add-class-button {
    position: relative;
    top: -8px;
}

.added {
    background-color: lightgreen;
}

.modified {
    background-color: #fff6d6
}

.deleted {
    background-color: #ffb1b6;
}

.unmodified {
    background-color: white;
}

.changedFrom {
    font-style: italic;
    color: #c8c8c8;
}

div.color-legend2 {
    padding-top: 0px;
}

.italics {
    font-style: italic;
}

.error-box {
    white-space: pre;
}

label {
    font-weight: normal;
}

.logout {
    font-size: 14px;
    font-weight: normal;
    position: relative;
    top: -5px;
}

.loader {
    margin: 100px auto;
    font-size: 25px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load5 1.1s infinite ease;
    animation: load5 1.1s infinite ease;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
@-webkit-keyframes load5 {
    0%,
    100% {
        box-shadow: 0em -2.6em 0em 0em #DDDDDD, 1.8em -1.8em 0 0em rgba(221, 221, 221, 0.2), 2.5em 0em 0 0em rgba(221, 221, 221, 0.2), 1.75em 1.75em 0 0em rgba(221, 221, 221, 0.2), 0em 2.5em 0 0em rgba(221, 221, 221, 0.2), -1.8em 1.8em 0 0em rgba(221, 221, 221, 0.2), -2.6em 0em 0 0em rgba(221, 221, 221, 0.5), -1.8em -1.8em 0 0em rgba(221, 221, 221, 0.7);
    }
    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(221, 221, 221, 0.7), 1.8em -1.8em 0 0em #DDDDDD, 2.5em 0em 0 0em rgba(221, 221, 221, 0.2), 1.75em 1.75em 0 0em rgba(221, 221, 221, 0.2), 0em 2.5em 0 0em rgba(221, 221, 221, 0.2), -1.8em 1.8em 0 0em rgba(221, 221, 221, 0.2), -2.6em 0em 0 0em rgba(221, 221, 221, 0.2), -1.8em -1.8em 0 0em rgba(221, 221, 221, 0.5);
    }
    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(221, 221, 221, 0.5), 1.8em -1.8em 0 0em rgba(221, 221, 221, 0.7), 2.5em 0em 0 0em #DDDDDD, 1.75em 1.75em 0 0em rgba(221, 221, 221, 0.2), 0em 2.5em 0 0em rgba(221, 221, 221, 0.2), -1.8em 1.8em 0 0em rgba(221, 221, 221, 0.2), -2.6em 0em 0 0em rgba(221, 221, 221, 0.2), -1.8em -1.8em 0 0em rgba(221, 221, 221, 0.2);
    }
    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(221, 221, 221, 0.2), 1.8em -1.8em 0 0em rgba(221, 221, 221, 0.5), 2.5em 0em 0 0em rgba(221, 221, 221, 0.7), 1.75em 1.75em 0 0em #DDDDDD, 0em 2.5em 0 0em rgba(221, 221, 221, 0.2), -1.8em 1.8em 0 0em rgba(221, 221, 221, 0.2), -2.6em 0em 0 0em rgba(221, 221, 221, 0.2), -1.8em -1.8em 0 0em rgba(221, 221, 221, 0.2);
    }
    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(221, 221, 221, 0.2), 1.8em -1.8em 0 0em rgba(221, 221, 221, 0.2), 2.5em 0em 0 0em rgba(221, 221, 221, 0.5), 1.75em 1.75em 0 0em rgba(221, 221, 221, 0.7), 0em 2.5em 0 0em #DDDDDD, -1.8em 1.8em 0 0em rgba(221, 221, 221, 0.2), -2.6em 0em 0 0em rgba(221, 221, 221, 0.2), -1.8em -1.8em 0 0em rgba(221, 221, 221, 0.2);
    }
    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(221, 221, 221, 0.2), 1.8em -1.8em 0 0em rgba(221, 221, 221, 0.2), 2.5em 0em 0 0em rgba(221, 221, 221, 0.2), 1.75em 1.75em 0 0em rgba(221, 221, 221, 0.5), 0em 2.5em 0 0em rgba(221, 221, 221, 0.7), -1.8em 1.8em 0 0em #DDDDDD, -2.6em 0em 0 0em rgba(221, 221, 221, 0.2), -1.8em -1.8em 0 0em rgba(221, 221, 221, 0.2);
    }
    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(221, 221, 221, 0.2), 1.8em -1.8em 0 0em rgba(221, 221, 221, 0.2), 2.5em 0em 0 0em rgba(221, 221, 221, 0.2), 1.75em 1.75em 0 0em rgba(221, 221, 221, 0.2), 0em 2.5em 0 0em rgba(221, 221, 221, 0.5), -1.8em 1.8em 0 0em rgba(221, 221, 221, 0.7), -2.6em 0em 0 0em #DDDDDD, -1.8em -1.8em 0 0em rgba(221, 221, 221, 0.2);
    }
    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(221, 221, 221, 0.2), 1.8em -1.8em 0 0em rgba(221, 221, 221, 0.2), 2.5em 0em 0 0em rgba(221, 221, 221, 0.2), 1.75em 1.75em 0 0em rgba(221, 221, 221, 0.2), 0em 2.5em 0 0em rgba(221, 221, 221, 0.2), -1.8em 1.8em 0 0em rgba(221, 221, 221, 0.5), -2.6em 0em 0 0em rgba(221, 221, 221, 0.7), -1.8em -1.8em 0 0em #DDDDDD;
    }
}
@keyframes load5 {
    0%,
    100% {
        box-shadow: 0em -2.6em 0em 0em #DDDDDD, 1.8em -1.8em 0 0em rgba(221, 221, 221, 0.2), 2.5em 0em 0 0em rgba(221, 221, 221, 0.2), 1.75em 1.75em 0 0em rgba(221, 221, 221, 0.2), 0em 2.5em 0 0em rgba(221, 221, 221, 0.2), -1.8em 1.8em 0 0em rgba(221, 221, 221, 0.2), -2.6em 0em 0 0em rgba(221, 221, 221, 0.5), -1.8em -1.8em 0 0em rgba(221, 221, 221, 0.7);
    }
    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(221, 221, 221, 0.7), 1.8em -1.8em 0 0em #DDDDDD, 2.5em 0em 0 0em rgba(221, 221, 221, 0.2), 1.75em 1.75em 0 0em rgba(221, 221, 221, 0.2), 0em 2.5em 0 0em rgba(221, 221, 221, 0.2), -1.8em 1.8em 0 0em rgba(221, 221, 221, 0.2), -2.6em 0em 0 0em rgba(221, 221, 221, 0.2), -1.8em -1.8em 0 0em rgba(221, 221, 221, 0.5);
    }
    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(221, 221, 221, 0.5), 1.8em -1.8em 0 0em rgba(221, 221, 221, 0.7), 2.5em 0em 0 0em #DDDDDD, 1.75em 1.75em 0 0em rgba(221, 221, 221, 0.2), 0em 2.5em 0 0em rgba(221, 221, 221, 0.2), -1.8em 1.8em 0 0em rgba(221, 221, 221, 0.2), -2.6em 0em 0 0em rgba(221, 221, 221, 0.2), -1.8em -1.8em 0 0em rgba(221, 221, 221, 0.2);
    }
    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(221, 221, 221, 0.2), 1.8em -1.8em 0 0em rgba(221, 221, 221, 0.5), 2.5em 0em 0 0em rgba(221, 221, 221, 0.7), 1.75em 1.75em 0 0em #DDDDDD, 0em 2.5em 0 0em rgba(221, 221, 221, 0.2), -1.8em 1.8em 0 0em rgba(221, 221, 221, 0.2), -2.6em 0em 0 0em rgba(221, 221, 221, 0.2), -1.8em -1.8em 0 0em rgba(221, 221, 221, 0.2);
    }
    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(221, 221, 221, 0.2), 1.8em -1.8em 0 0em rgba(221, 221, 221, 0.2), 2.5em 0em 0 0em rgba(221, 221, 221, 0.5), 1.75em 1.75em 0 0em rgba(221, 221, 221, 0.7), 0em 2.5em 0 0em #DDDDDD, -1.8em 1.8em 0 0em rgba(221, 221, 221, 0.2), -2.6em 0em 0 0em rgba(221, 221, 221, 0.2), -1.8em -1.8em 0 0em rgba(221, 221, 221, 0.2);
    }
    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(221, 221, 221, 0.2), 1.8em -1.8em 0 0em rgba(221, 221, 221, 0.2), 2.5em 0em 0 0em rgba(221, 221, 221, 0.2), 1.75em 1.75em 0 0em rgba(221, 221, 221, 0.5), 0em 2.5em 0 0em rgba(221, 221, 221, 0.7), -1.8em 1.8em 0 0em #DDDDDD, -2.6em 0em 0 0em rgba(221, 221, 221, 0.2), -1.8em -1.8em 0 0em rgba(221, 221, 221, 0.2);
    }
    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(221, 221, 221, 0.2), 1.8em -1.8em 0 0em rgba(221, 221, 221, 0.2), 2.5em 0em 0 0em rgba(221, 221, 221, 0.2), 1.75em 1.75em 0 0em rgba(221, 221, 221, 0.2), 0em 2.5em 0 0em rgba(221, 221, 221, 0.5), -1.8em 1.8em 0 0em rgba(221, 221, 221, 0.7), -2.6em 0em 0 0em #DDDDDD, -1.8em -1.8em 0 0em rgba(221, 221, 221, 0.2);
    }
    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(221, 221, 221, 0.2), 1.8em -1.8em 0 0em rgba(221, 221, 221, 0.2), 2.5em 0em 0 0em rgba(221, 221, 221, 0.2), 1.75em 1.75em 0 0em rgba(221, 221, 221, 0.2), 0em 2.5em 0 0em rgba(221, 221, 221, 0.2), -1.8em 1.8em 0 0em rgba(221, 221, 221, 0.5), -2.6em 0em 0 0em rgba(221, 221, 221, 0.7), -1.8em -1.8em 0 0em #DDDDDD;
    }
}