input {
    margin-bottom: 5px;
}

.margin-bottom-20 {
    margin-bottom: 40px;
}

body {
    padding-top: 30px;
    padding-bottom: 30px;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

.error {
    border: .5px solid red;
}

.hidden {
    visibility: hidden;
}

.bold {
    font-weight: bold;
}