.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-left-15 {
    margin-left: 15px;
}

.margin-top-20 {
    margin-top: 20px;
}

body {
    padding-top: 30px;
    padding-bottom: 60px;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

.error {
    border: .5px solid red;
}

.hidden {
    visibility: hidden;
}

.bold {
    font-weight: bold;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.narrow {
    width: 70%;
}

textarea {
    width: 300px;
    height: 120px;
}

.fixed-header tr {
    width: 100%;
    display: inline-table;
    table-layout: fixed;
}

.fixed-header tbody {
    width: 100%;
    max-height: 375px;
    min-width: 300px;
    overflow: auto;
    display: block;
}

.fixed-header tbody tr:hover {
    background-color: #DAEDF6;
    border: solid #93baf1 2px;
    font-weight: bold;
    cursor: pointer;
}

.fixed-header tbody tr:active {
    background-color: #92C6E5;
    font-weight: normal;
}

/* Title is longer than the rest */
.fixed-header tr td:nth-child(4), .fixed-header tr th:nth-child(4) {
    width: 25%;
}

div.color-legend {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 15px;
}

div.color-legend div {
    display: inline-block;
}

div.color-legend-item {
    padding-right: 40px;
}

div.color-box {
    width: 15px;
    height: 15px;
    border: 1px solid #000;
}

div.text-box {
    position: relative;
    top: -2px;
}

div.color-legend .add-class-button {
    position: relative;
    top: -8px;
}

.added {
    background-color: #90eec3;
}

.modified {
    background-color: #fff6d6
}

.deleted {
    background-color: #ffb1b6;
}

.unmodified {
    background-color: white;
}

.fixed-header .added:hover {
    background-color: #b5ffa8
}

.fixed-header .modified:hover {
    background-color: #edf2e6
}

.fixed-header .deleted:hover {
    background-color: #edcfd6
}

.changedFrom {
    font-style: italic;
    color: #c8c8c8;
}

div.color-legend2 {
    padding-top: 0;
}

.italics {
    font-style: italic;
}

.status-box {
    white-space: pre;
}

.meetingTimeCell {
    white-space: pre-wrap;
}

label {
    font-weight: normal;
}

.logout {
    font-size: 14px;
    font-weight: normal;
    position: relative;
    top: -5px;
}

.loader {
    border: 15px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 80px;
    height: 80px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;
    -webkit-animation: spin 1.6s linear infinite;
    animation: spin 1.6s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

input[type=number] {
    box-sizing: border-box;
    border: 1px solid darkgray;
    border-radius: 4px;
    padding: 3px 5px;
    width: 20%;
}

input[type=text], input[type=password], input[type=textarea] {
    box-sizing: border-box;
    border: 1px solid darkgray;
    border-radius: 4px;
    padding: 5px 5px;
}