<div class="container">
    <h1 class="margin-bottom-20">
        Semester Course Offerings—Office of the Registrar
        <div class="float-right">
            <a class="logout" ng-click="model.logout()">
                Logout
            </a>
        </div>
    </h1>

    <div ng-if="model.success" class="alert alert-success status-box">{{model.success}}</div>

    <div ng-if="model.error" class="alert alert-danger status-box">{{model.error}}</div>

    <span ng-show="model.schedule" class="search-box">
        <input style="float: right" type="text" id="filterText" ng-model="model.filterText"
               placeholder="Search a course number, title, crn...">
    </span>
    <br>
    <span>Department: </span>
    <select ng-model="model.selectedDepartment"
            ng-options="option as option.departmentCode group by model.getScheduleGroupName(option.status) disable when model.shouldDisableSchedule(option.status) for option in model.loggedInUser.depts track by option.departmentCode+option.status"
            ng-change="model.getScheduleDetail()">
    </select>

    <div ng-if="model.schedule && (statusLine = model.getScheduleStatusLine(model.schedule))"
         class="alert alert-info margin-top-20" ng-click="hideAlertBox = true"
         ng-hide="hideAlertBox">
        {{statusLine}}
        <div ng-if="model.schedule.scheduleStatus === 'R' && model.schedule.comment">
            <br>Reason: <span class="bold">{{model.schedule.comment}}</span>
        </div>
    </div>

    <div class="loader" ng-show="model.loadingSchedule"></div>

    <table ng-show="model.schedule && !model.loadingSchedule" class="table fixed-header">
        <thead>
        <tr>
            <th>Course No.</th>
            <th>Section</th>
            <th>CRN</th>
            <th>Title</th>
            <th>Meeting Time</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-show="model.schedule && model.schedule.classes && model.schedule.classes.length === 0">
            <td colspan="4">No data found</td>
        </tr>
        <tr ng-class="{'added': (class.metadata && class.metadata.added), 'deleted': (class.metadata && !class.metadata.added && class.metadata.deleted), 'modified': (class.metadata && !class.metadata.deleted && !class.metadata.added && class.metadata.modified)}"
            ng-repeat="class in model.schedule.classes | filterClass:model.filterText"
            ng-click="model.navigateToClassDetail(class.metadata.unique_id)">
            <td>{{class.subjectCode}} {{class.courseNumber}}</td>
            <td>{{class.section}}</td>
            <td ng-class="{'italics': (!class.crn)}">{{class.crn || "(to be generated)"}}</td>
            <td>{{class.courseTitle}}</td>
            <td ng-class="{'italics': (!class.meetingTimes.length)}">
                <div class="meetingTimeCell">{{model.getReadableMeetingTimes(class)}}</div>
            </td>
            <!--<td>-->
                <!--<a ng-click="model.navigateToClassDetail(class.metadata.unique_id)">-->
                    <!--{{model.userCanEditSchedule ? "Edit" : "View"}}-->
                <!--</a>-->
            <!--</td>-->
        </tr>
        </tbody>
    </table>

    <div ng-show="model.schedule" class="color-legend">
        <div class="color-legend-item">
            <div class="color-box added"/>
            <div class="text-box">Added</div>
        </div>
        <div class="color-legend-item">
            <div class="color-box modified"/>
            <div class="text-box">Modified</div>
        </div>
        <div class="color-legend-item">
            <div class="color-box deleted"/>
            <div class="text-box">Cancelled</div>
        </div>
        <div class="color-legend-item">
            <div class="color-box unmodified"/>
            <div class="text-box">Unmodified</div>
        </div>
    </div>

    <div id="toast" class="alert alert-success" ng-click="model.toastMessage(false)">
        Schedule successfully saved!
    </div>

    <div class="float-right">
        <button ng-click="model.navigateToAddClass()" ng-show="model.schedule && !model.loggedInUser.admin"
                type="button" class="btn btn-info" ng-disabled="!model.userCanEditSchedule">
            Add Class
        </button>
        <button ng-click="model.saveSchedule()" ng-show="model.schedule && !model.loggedInUser.admin" type="button"
                class="btn btn-success" ng-disabled="!model.userCanEditSchedule">
            Save
        </button>
        <button ng-click="model.submitSchedule()" ng-show="model.schedule && !model.loggedInUser.admin" type="button"
                class="btn btn-primary" ng-disabled="!model.userCanEditSchedule">
            Submit
        </button>
        <button ng-click="model.rejectSchedule()" ng-show="model.schedule && model.loggedInUser.admin" type="button"
                class="btn btn-danger" ng-disabled="model.selectedDepartment.status !== 'S'">
            Reject
        </button>
        <button ng-click="model.approveSchedule()" ng-show="model.schedule && model.loggedInUser.admin" type="button"
                class="btn btn-success" ng-disabled="model.selectedDepartment.status !== 'S'">
            Approve
        </button>
    </div>
</div>
