<script type="text/javascript">
    $('select.select2').select2();
    $('select.largeSelect2').select2({
        minimumInputLength: 2
    });
</script>

<div class="container">
    <h1 class="margin-bottom-20">
        {{model.userCanEditSchedule ? "Edit Class" : "Class Detail"}}
    </h1>

    <div ng-if="model.error" class="alert alert-danger status-box">{{model.error}}</div>

    <table class="table narrow">
        <tbody>
        <tr>
            <td>Course</td>
            <td>{{model.class.subjectCode}} {{model.class.courseNumber}}</td>
            <td></td>
        </tr>
        <tr>
            <td>Section</td>
            <td>{{model.class.section}}</td>
            <td></td>
        </tr>
        <tr>
            <td>CRN</td>
            <td ng-class="{changedFrom: !model.class.crn}">{{model.class.crn || "(to be generated)"}}</td>
            <td></td>
        </tr>
        <tr ng-class="{'modified': model.differentFromLastYear(['courseTitle'])}">
            <td>Title</td>
            <td>
                <input style="width:200px" ng-if="model.userCanEditSchedule" type="text"
                       ng-model="model.class.courseTitle"/>
                <div ng-if="!model.userCanEditSchedule" class="italics">{{model.class.courseTitle}}</div>
            </td>
            <td>
                <div ng-class="{hidden: !model.differentFromLastYear(['courseTitle'])}" class="changedFrom">
                    {{model.class.old.courseTitle}}
                </div>
            </td>
        </tr>
        <tr ng-class="{'modified': !model.isEqualMeetingTimes(model.class.meetingTimes, model.class.old.meetingTimes)}">
            <td>Meeting Times</td>
            <td>
                <div ng-show="model.userCanEditSchedule">
                    <select class="select2" style="width: 200px" ng-model="model.class.meetingTimes" multiple="multiple"
                            ng-options="aMeetingTime as model.getReadableMeetingTime(aMeetingTime) for aMeetingTime in model.all.meetingTimes track by aMeetingTime.days+aMeetingTime.beginTime+aMeetingTime.endTime"
                            ng-change="model.toastMessage(model.scheduleViolatesPeakPeriodProperty(model.schedule))">
                    </select>
                </div>
                <div class="meetingTimeCell" ng-if="!model.userCanEditSchedule" class="italics">{{model.getReadableMeetingTimes(model.class)}}</div>
            </td>
            <td>
                <div ng-class="{hidden: model.isEqualMeetingTimes(model.class.meetingTimes, model.class.old.meetingTimes)}"
                     class="changedFrom meetingTimeCell">{{model.class.old ? model.getReadableMeetingTimes(model.class.old) : ""}}
                </div>
            </td>
        </tr>
        <tr ng-class="{'modified': model.differentFromLastYear(['primaryInstructorID'])}">
            <td>Primary Instructor</td>
            <td>
                <div ng-show="model.userCanEditSchedule">
                    <select class="largeSelect2" style="width: 200px" ng-model="model.class.primaryInstructorID"
                            ng-options="option.nuid as option.name for option in model.allInstructors">
                    </select>
                </div>
                <div ng-show="!model.userCanEditSchedule" class="italics">
                    {{model.extractTargetAttributes("name", "nuid", model.allInstructors,
                    [model.class.primaryInstructorID])}}
                </div>
            </td>
            <td>
                <div ng-class="{hidden: !model.differentFromLastYear(['primaryInstructorID'])}"
                     class="changedFrom">{{model.extractTargetAttributes("name", "nuid", model.allInstructors,
                    [model.class.old.primaryInstructorID])}}
                </div>
            </td>
        </tr>
        <tr ng-class="{'modified': model.differentFromLastYear(['maxEnrollment'])}">
            <td>Enrollment Maximum</td>
            <td>
                <input ng-if="model.userCanEditSchedule" ng-model="model.class.maxEnrollment" type="number" min="1"
                       step="1"/>
                <div ng-if="model.userCanEditSchedule" class="italics">
                    {{model.class.priorEnrollment ? ("(Prior enrollment: " + model.class.priorEnrollment + ")") : ""}}
                </div>
                <div ng-if="!model.userCanEditSchedule" class="italics">{{model.class.maxEnrollment}}
                    {{model.class.priorEnrollment ? ("(Prior enrollment: " + model.class.priorEnrollment + ")") : ""}}
                </div>
            </td>
            <td>
                <div ng-class="{hidden: !model.differentFromLastYear(['maxEnrollment'])}"
                     class="changedFrom">{{model.class.old.maxEnrollment}}
                </div>
            </td>
        </tr>
        <tr ng-class="{'modified': model.differentFromLastYear(['waitlistCapacity'])}">
            <td>Waitlist?</td>
            <td>
                <div ng-show="model.userCanEditSchedule">
                    <select class="select2" ng-model="model.class.waitlistCapacity" style="width: 40px"
                        ng-options="option.capacity as option.indicator for option in [{capacity: 99, indicator: 'Y'}, {capacity: 0, indicator: 'N'}]">
                    </select>
                </div>
                <div ng-if="!model.userCanEditSchedule" class="italics">{{model.class.waitlistCapacity ? "Y" : "N"}}</div>
            </td>
            <td>
                <div ng-class="{hidden: !model.differentFromLastYear(['waitlistCapacity'])}"
                     class="changedFrom">{{model.class.old.waitlistCapacity ? "Y" : "N"}}
                </div>
            </td>
        </tr>
        <tr ng-class="{'modified': model.differentFromLastYear(['campusCode'])}">
            <td>Campus</td>
            <td>
                <div ng-show="model.userCanEditSchedule">
                    <select class="select2" style="width: 150px"
                            ng-model="model.class.campusCode"
                            ng-options="option.code as (option.desc + ' (' + option.code + ')') for option in model.all.campus">
                    </select>
                </div>
                <div ng-if="!model.userCanEditSchedule" class="italics">
                    {{model.extractTargetAttributes("desc", "code",
                    model.all.campus,
                    [model.class.campusCode])}}
                </div>
            </td>
            <td>
                <div ng-class="{hidden: !model.differentFromLastYear(['campusCode'])}" class="changedFrom">
                    {{model.extractTargetAttributes("desc", "code",
                    model.all.campus,
                    [model.class.old.campusCode])}}
                </div>
            </td>
        </tr>
        <tr ng-class="{'modified': model.differentFromLastYear(['instructionalMethodCode'])}">
            <td>Instructional Method</td>
            <td>
                <div ng-show="model.userCanEditSchedule">
                    <select class="select2" style="width: 150px"
                            ng-model="model.class.instructionalMethodCode"
                            ng-options="option.code as (option.desc + ' (' + option.code + ')') for option in model.all.instructionalMethod">
                    </select>
                </div>
                <div ng-if="!model.userCanEditSchedule" class="italics">
                    {{model.extractTargetAttributes("desc", "code",
                    model.all.instructionalMethod,
                    [model.class.instructionalMethodCode])}}
                </div>
            </td>
            <td>
                <div ng-class="{hidden: !model.differentFromLastYear(['instructionalMethodCode'])}"
                     class="changedFrom">
                    {{model.extractTargetAttributes("desc", "code",
                    model.all.instructionalMethod,
                    [model.class.old.instructionalMethodCode])}}
                </div>
            </td>
        </tr>
        <tr ng-class="{'modified': model.differentFromLastYear(['specialApprovalCode'])}">
            <td>Special Approvals</td>
            <td>
                <div ng-show="model.userCanEditSchedule">
                    <select class="select2" style="width: 150px;"
                            ng-model="model.class.specialApprovalCode"
                            ng-options="option.code as option.desc + (option.code ? (' (' + option.code + ')') : '') for option in model.all.specialApprovals">
                    </select>
                </div>
                <div ng-if="!model.userCanEditSchedule" class="italics">
                    {{model.extractTargetAttributes("desc", "code", model.all.specialApprovals,
                    [model.class.specialApprovalCode]) ?
                    model.extractTargetAttributes("desc", "code", model.all.specialApprovals,
                    [model.class.specialApprovalCode]) :
                    "(none)"}}
                </div>
            </td>
            <td>
                <div ng-class="{hidden: !model.differentFromLastYear(['specialApprovalCode'])}"
                     class="changedFrom">
                    {{model.extractTargetAttributes("desc", "code", model.all.specialApprovals,
                    [model.class.old.specialApprovalCode]) ?
                    model.extractTargetAttributes("desc", "code", model.all.specialApprovals,
                    [model.class.old.specialApprovalCode]) :
                    "(none)"}}
                </div>
            </td>
        </tr>
        <tr ng-class="{'modified': model.differentFromLastYear(['majorRestrictions', 'includeMajorRestriction'])}">
            <td>Major Restrictions</td>
            <td>
                <div ng-show="model.userCanEditSchedule">
                    <label class="margin-right-10">
                        <input type="radio" ng-model="model.class.includeMajorRestriction" ng-value="1">
                        Include
                    </label>
                    <label>
                        <input type="radio" ng-model="model.class.includeMajorRestriction" ng-value="0">
                        Exclude
                    </label><br/>
                    <select class="select2 largeSelect2" style="width: 200px" ng-model="model.class.majorRestrictions"
                            multiple="multiple"
                            ng-options="option.code as option.desc for option in model.all.majorRestrictions">
                    </select>
                </div>
                <div ng-show="!model.userCanEditSchedule" class="italics">
                    {{(model.class.includeMajorRestriction ? "Include: " : "Exclude: ") +
                    model.extractTargetAttributes("desc", "code",
                    model.all.majorRestrictions,
                    model.class.majorRestrictions)}}
                </div>
            </td>
            <td>
                <div ng-class="{hidden: !model.differentFromLastYear(['majorRestrictions', 'includeMajorRestriction'])}"
                     class="changedFrom">{{(model.class.old.includeMajorRestriction ? "Include: " : "Exclude: ") +
                    model.extractTargetAttributes("desc", "code",
                    model.all.majorRestrictions,
                    model.class.old.majorRestrictions)}}
                </div>
            </td>
        </tr>
        <tr ng-class="{'modified': model.differentFromLastYear(['classRestrictions', 'includeClassRestriction'])}">
            <td>Class Restrictions</td>
            <td>
                <div ng-show="model.userCanEditSchedule">
                    <label class="margin-right-10">
                        <input type="radio" ng-model="model.class.includeClassRestriction" ng-value="1">
                        Include
                    </label>
                    <label>
                        <input type="radio" ng-model="model.class.includeClassRestriction" ng-value="0">
                        Exclude
                    </label><br/>
                    <select class="select2" style="width: 200px" ng-model="model.class.classRestrictions"
                            multiple="multiple"
                            ng-options="option.code as option.desc for option in model.all.classRestrictions">
                    </select>
                </div>
                <div ng-show="!model.userCanEditSchedule" class="italics">
                    {{(model.class.includeClassRestriction ? "Include: " : "Exclude: ") +
                    model.extractTargetAttributes("desc", "code",
                    model.all.classRestrictions,
                    model.class.classRestrictions)}}
                </div>
            </td>
            <td>
                <div ng-class="{hidden: !model.differentFromLastYear(['classRestrictions', 'includeClassRestriction'])}"
                     class="changedFrom">{{(model.class.old.includeClassRestriction ? "Include: " : "Exclude: ") +
                    model.extractTargetAttributes("desc", "code",
                    model.all.classRestrictions,
                    model.class.old.classRestrictions)}}
                </div>
            </td>
        </tr>
        <tr ng-class="{'modified': model.differentFromLastYear(['levelRestrictions', 'includeLevelRestriction'])}">
            <td>Level Restrictions</td>
            <td>
                <div ng-show="model.userCanEditSchedule">
                    <label class="margin-right-10">
                        <input type="radio" ng-model="model.class.includeLevelRestriction" ng-value="1">
                        Include
                    </label>
                    <label>
                        <input type="radio" ng-model="model.class.includeLevelRestriction" ng-value="0">
                        Exclude
                    </label><br/>
                    <select class="select2" style="width: 200px" ng-model="model.class.levelRestrictions"
                            multiple="multiple"
                            ng-options="option.code as option.desc for option in model.all.levelRestrictions">
                    </select>
                </div>
                <div ng-show="!model.userCanEditSchedule" class="italics">
                    {{(model.class.includeLevelRestriction ? "Include: " : "Exclude: ") +
                    model.extractTargetAttributes("desc", "code",
                    model.all.levelRestrictions,
                    model.class.levelRestrictions)}}
                </div>
            </td>
            <td>
                <div ng-class="{hidden: !model.differentFromLastYear(['levelRestrictions', 'includeLevelRestriction'])}"
                     class="changedFrom">{{(model.class.old.includeLevelRestriction ? "Include: " : "Exclude: ") +
                    model.extractTargetAttributes("desc", "code",
                    model.all.levelRestrictions,
                    model.class.old.levelRestrictions)}}
                </div>
            </td>
        </tr>
        <tr ng-class="{'modified': model.differentFromLastYear(['programRestrictions', 'includeProgramRestriction'])}">
            <td>Program Restrictions</td>
            <td>
                <div ng-show="model.userCanEditSchedule">
                    <label class="margin-right-10">
                        <input type="radio" ng-model="model.class.includeProgramRestriction" ng-value="1">
                        Include
                    </label>
                    <label>
                        <input type="radio" ng-model="model.class.includeProgramRestriction" ng-value="0">
                        Exclude
                    </label><br/>
                    <select class="select2 largeSelect2" style="width: 200px" ng-model="model.class.programRestrictions"
                            multiple="multiple"
                            ng-options="option.code as option.desc for option in model.all.programRestrictions">
                    </select>
                </div>
                <div ng-show="!model.userCanEditSchedule" class="italics">
                    {{(model.class.includeProgramRestriction ? "Include: " : "Exclude: ") +
                    model.extractTargetAttributes("desc", "code",
                    model.all.programRestrictions,
                    model.class.programRestrictions)}}
                </div>
            </td>
            <td>
                <div ng-class="{hidden: !model.differentFromLastYear(['programRestrictions', 'includeProgramRestriction'])}"
                     class="changedFrom">{{(model.class.old.includeProgramRestriction ? "Include: " : "Exclude: ") +
                    model.extractTargetAttributes("desc", "code",
                    model.all.programRestrictions,
                    model.class.old.programRestrictions)}}
                </div>
            </td>
        </tr>
        <tr ng-class="{'modified': model.differentFromLastYear(['collegeRestrictions', 'includeCollegeRestriction'])}">
            <td>College Restrictions</td>
            <td>
                <div ng-show="model.userCanEditSchedule">
                    <label class="margin-right-10">
                        <input type="radio" ng-model="model.class.includeCollegeRestriction" ng-value="1">
                        Include
                    </label>
                    <label>
                        <input type="radio" ng-model="model.class.includeCollegeRestriction" ng-value="0">
                        Exclude
                    </label><br/>
                    <select class="select2" style="width: 200px" ng-model="model.class.collegeRestrictions"
                            multiple="multiple"
                            ng-options="option.code as option.desc for option in model.all.collegeRestrictions">
                    </select>
                </div>
                <div ng-show="!model.userCanEditSchedule" class="italics">
                    {{(model.class.includeCollegeRestriction ? "Include: " : "Exclude: ") +
                    model.extractTargetAttributes("desc", "code",
                    model.all.collegeRestrictions,
                    model.class.collegeRestrictions)}}
                </div>
            </td>
            <td>
                <div ng-class="{hidden: !model.differentFromLastYear(['collegeRestrictions', 'includeCollegeRestriction'])}"
                     class="changedFrom">{{(model.class.old.includeCollegeRestriction ? "Include: " : "Exclude: ") +
                    model.extractTargetAttributes("desc", "code",
                    model.all.collegeRestrictions,
                    model.class.old.collegeRestrictions)}}
                </div>
            </td>
        </tr>
        <tr ng-class="{'modified': model.differentFromLastYear(['attributeCode'])}">
            <td>Billing Attributes & Honors</td>
            <td>
                <div ng-show="model.userCanEditSchedule">
                    <select class="select2" style="width: 200px" ng-model="model.class.attributeCode"
                            multiple="multiple"
                            ng-options="option.code as option.desc + ' (' + option.code + ')' for option in model.all.attributeCode">
                    </select>
                </div>
                <div ng-show="!model.userCanEditSchedule" class="italics">
                    {{model.extractTargetAttributes("desc", "code",
                    model.all.attributeCode,
                    model.class.attributeCode)}}
                </div>
            </td>
            <td>
                <div ng-class="{hidden: !model.differentFromLastYear(['attributeCode'])}"
                     class="changedFrom">{{model.extractTargetAttributes("desc",
                    "code", model.all.attributeCode,
                    model.class.old.attributeCode)}}
                </div>
            </td>
        </tr>
        <tr ng-class="{'modified': model.differentFromLastYear(['publish'])}">
            <td>Show on Banner Schedule?</td>
            <td>
                <div ng-show="model.userCanEditSchedule">
                    <select class="select2" style="width: 40px"
                            ng-model="model.class.publish"
                            ng-options="option for option in ['Y', 'N']">
                    </select>
                </div>
                <div ng-if="!model.userCanEditSchedule" class="italics">{{model.class.publish}}</div>
            </td>
            <td>
                <div ng-class="{hidden: !model.differentFromLastYear(['publish'])}"
                     class="changedFrom">{{model.class.old.publish}}
                </div>
            </td>
        </tr>
        <tr ng-class="{'modified': model.differentFromLastYear(['status'])}">
            <td>Status</td>
            <td>
                <div ng-show="model.userCanEditSchedule">
                    <select class="select2" ng-model="model.class.status" style="width: 150px"
                            ng-options="option.code as option.desc for option in model.allStatuses">
                    </select>
                </div>
                <div ng-if="!model.userCanEditSchedule" class="italics">
                    {{model.extractTargetAttributes("desc",
                    "code", model.allStatuses,
                    model.class.old.status)}}
                </div>
            </td>
            <td>
                <div ng-class="{hidden: !model.differentFromLastYear(['status'])}" class="changedFrom">
                    {{model.extractTargetAttributes("desc",
                    "code", model.allStatuses,
                    model.class.old.status)}}
                </div>
            </td>
        </tr>
        <tr>
            <td>Comment</td>
            <td>
                <textarea ng-if="model.userCanEditSchedule" ng-model="model.class.comment"/>
                <div ng-if="!model.userCanEditSchedule" class="italics">{{model.class.comment ? model.class.comment :
                    "(none)"}}
                </div>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <div class="color-legend color-legend2">
                    <div class="color-legend-item">
                        <div class="color-box modified"/>
                        <div class="text-box">Modified data</div>
                    </div>
                    <div class="color-legend-item">
                        <div class="color-box unmodified"/>
                        <div class="text-box">Unmodified data</div>
                    </div>
                </div>
            </td>
            <td ng-class="{hidden: model.class.metadata && model.class.metadata.added}" class="changedFrom">
                <div class="text-box">Last year's data in gray, if changed</div>
            </td>
        </tr>
        </tbody>
    </table>

    <div id="toast" class="toast-warning" ng-click="model.toastMessage(false)">
        Over 60% of classes in schedule occur during peak periods, <b>MWR 9:15-15:25, TF 9:50-15:25</b>. Please proceed with caution.
    </div>

    <div ng-if="model.userCanEditSchedule">
        <button ng-click="model.saveAndReturnToSchedule()" type="button" class="btn btn-primary">Save & Return</button>
        <button ng-click="model.returnToSchedule()" type="button" class="btn btn-warning">Cancel</button>
    </div>
    <div ng-if="!model.userCanEditSchedule">
        <button ng-click="model.returnToSchedule()" type="button" class="btn btn-primary">Return to Schedule</button>
    </div>
</div>
