<script type="text/javascript">
    $('select.select2').select2();
    $('select.largeSelect2').select2({
        minimumInputLength: 2
    });
</script>

<div class="container">
    <h1 class="margin-bottom-20">
        Add Class
    </h1>

    <div ng-if="model.error" class="alert alert-danger error-box">{{model.error}}</div>

    <table class="table narrow">
        <tbody>
        <tr>
            <td>Subject Code</td>
            <td>
                <select class="select2" ng-model="model.selectedSubjectCode">
                    <option ng-repeat="option in model.allSubjectCodesInDept">{{option}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Course Number</td>
            <td>
                <input id="courseNumber" ng-model="model.selectedCourseNumber" maxlength="4" type="text"/>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="button" class="btn btn-success"
                        ng-click="model.getCourseDataFromCatalog(model.selectedSubjectCode, model.selectedCourseNumber)">
                    Load Catalog Data
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <table ng-show="model.class" class="table narrow">
        <tbody>
        <tr>
            <td>Course</td>
            <td>{{model.class.subjectCode}} {{model.class.courseNumber}}</td>
        </tr>
        <tr>
            <td>Section</td>
            <td>{{model.class.section}}</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>{{model.class.status}}</td>
        </tr>
        <tr>
            <td>CRN</td>
            <td class="changedFrom">(to be generated)</td>
        </tr>
        <tr>
            <td>Title*</td>
            <td>
                <input style="width:200px" ng-model="model.class.courseTitle" type="text" />
            </td>
        </tr>
        <tr>
            <td>Meeting Times*</td>
            <td>
                <select ng-model="model.class.meetingDays"
                        ng-options="option for option in model.allMeetingDays"
                        ng-change="model.updateOnChangeOfTime(0)">
                </select>

                <select ng-model="model.class.meetingBeginTime"
                        ng-options="option as model.getFormattedTime(option) for option in model.allMeetingStartTimes"
                        ng-change="model.updateOnChangeOfTime(1)">
                </select>
                —
                <select ng-model="model.class.meetingEndTime"
                        ng-options="option as model.getFormattedTime(option) for option in model.allMeetingEndTimes"
                        ng-change="model.updateOnChangeOfTime(0)">
                </select>
            </td>
        </tr>
        <tr>
            <td>Primary Instructor*</td>
            <td>
                <select class="select2 largeSelect2" style="width: 200px" ng-model="model.class.primaryInstructorID"
                        ng-options="option.nuid as option.name for option in model.allInstructors">
                </select>
            </td>
        </tr>
        <tr>
            <td>Enrollment Maximum*</td>
            <td>
                <input type="number" min="1" step="1" ng-model="model.class.maxEnrollment"/>
            </td>
        </tr>
        <tr>
            <td>Waitlist?*</td>
            <td>
                <select ng-model="model.class.waitlistCapacity">
                    <option ng-repeat="option in [{capacity: 99, indicator: 'Y'}, {capacity: 0, indicator: 'N'}]" ng-value="option.capacity">
                        {{option.indicator}}
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Campus*</td>
            <td>
                <div ng-show="!model.loggedInUser.admin">
                    <select class="select2" style="width: 150px"
                            ng-model="model.class.campusCode"
                            ng-options="option.code as (option.desc + ' (' + option.code + ')') for option in model.all.campus">
                    </select>
                </div>
            </td>
        </tr>
        <tr>
            <td>Instructional Method*</td>
            <td>
                <div ng-show="!model.loggedInUser.admin">
                    <select class="select2" style="width: 150px"
                            ng-model="model.class.instructionalMethodCode"
                            ng-options="option.code as (option.desc + ' (' + option.code + ')') for option in model.all.instructionalMethod">
                    </select>
                </div>
            </td>
        </tr>
        <tr>
            <td>Special Approvals*</td>
            <td>
                <select ng-model="model.class.specialApprovalCode"
                        ng-options="option.code as (option.desc + ' (' + option.code + ')') for option in model.allSpecialApprovals">
                </select>
            </td>
        </tr>
        <tr>
            <td>Major Restrictions</td>
            <td>
                <label class="margin-right-10">
                    <input type="radio" ng-model="model.class.includeMajorRestriction" ng-value="1">
                    Include
                </label>
                <label>
                    <input type="radio" ng-model="model.class.includeMajorRestriction" ng-value="0">
                    Exclude
                </label><br/>
                <select class="select2 largeSelect2" style="width: 200px" ng-model="model.class.majorRestrictions" multiple="multiple"
                        ng-options="option.code as option.desc for option in model.all.majorRestrictions">
                </select>
            </td>
        </tr>
        <tr>
            <td>Class Restrictions</td>
            <td>
                <label class="margin-right-10">
                    <input type="radio" ng-model="model.class.includeClassRestriction" ng-value="1">
                    Include
                </label>
                <label>
                    <input type="radio" ng-model="model.class.includeClassRestriction" ng-value="0">
                    Exclude
                </label><br/>
                <select class="select2" style="width: 200px" ng-model="model.class.classRestrictions" multiple="multiple"
                        ng-options="option.code as option.desc for option in model.all.classRestrictions">
                </select>
            </td>
        </tr>
        <tr>
            <td>Level Restrictions</td>
            <td>
                <label class="margin-right-10">
                    <input type="radio" ng-model="model.class.includeLevelRestriction" ng-value="1">
                    Include
                </label>
                <label>
                    <input type="radio" ng-model="model.class.includeLevelRestriction" ng-value="0">
                    Exclude
                </label><br/>
                <select class="select2" style="width: 200px" ng-model="model.class.levelRestrictions" multiple="multiple"
                        ng-options="option.code as option.desc for option in model.all.levelRestrictions">
                </select>
            </td>
        </tr>
        <tr>
            <td>Program Restrictions</td>
            <td>
                <label class="margin-right-10">
                    <input type="radio" ng-model="model.class.includeProgramRestriction" ng-value="1">
                    Include
                </label>
                <label>
                    <input type="radio" ng-model="model.class.includeProgramRestriction" ng-value="0">
                    Exclude
                </label><br/>
                <select class="select2 largeSelect2" style="width: 200px" ng-model="model.class.programRestrictions" multiple="multiple"
                        ng-options="option.code as option.desc for option in model.all.programRestrictions">
                </select>
            </td>
        </tr>
        <tr>
            <td>College Restrictions</td>
            <td>
                <label class="margin-right-10">
                    <input type="radio" ng-model="model.class.includeCollegeRestriction" ng-value="1">
                    Include
                </label>
                <label>
                    <input type="radio" ng-model="model.class.includeCollegeRestriction" ng-value="0">
                    Exclude
                </label><br/>
                <select class="select2" style="width: 200px" ng-model="model.class.collegeRestrictions" multiple="multiple"
                        ng-options="option.code as option.desc for option in model.all.collegeRestrictions">
                </select>
            </td>
        </tr>
        <tr>
            <td>Attributes</td>
            <td>
                <select class="select2" style="width: 200px" ng-model="model.class.attributeCode" multiple="multiple"
                        ng-options="option.code as option.desc + ' (' + option.code + ')' for option in model.all.attributeCode">
                </select>
            </td>
        </tr>
        <tr>
            <td>Show on Banner Schedule?</td>
            <td>
                <select ng-model="model.class.publish" ng-options="option for option in model.yesOrNo">
                </select>
            </td>
        </tr>
        <tr>
            <td>Comment</td>
            <td>
                <textarea ng-model="model.class.comment"/>
            </td>
        </tr>
        </tbody>
    </table>
    <div id="toast" ng-click="model.toastMessage(0)">
        Time selected is during peak hours <b>MWR 9:15-15:25, TF 9:50-15:25</b>, please proceed with caution.
    </div>
    <div>
        <button ng-if="model.class" ng-click="model.saveAndReturnToSchedule()" type="button" class="btn btn-primary">Add to Schedule
        </button>
        <button ng-click="model.returnToSchedule()" type="button" class="btn btn-warning">Cancel</button>
    </div>
</div>
