<script type="text/javascript">
    $('select.select2').select2();
    $('select.largeSelect2').select2({
        minimumInputLength: 2
    });
</script>

<div class="container">
    <h1 class="margin-bottom-20">
        {{model.loggedInUser.admin ? "Class Detail" : "Edit Class"}}
    </h1>

    <div ng-if="model.error" class="alert alert-danger error-box">{{model.error}}</div>

    <table class="table narrow">
        <tbody>
        <tr>
            <td>Course</td>
            <td>{{model.class.subjectCode}} {{model.class.courseNumber}}</td>
            <td></td>
        </tr>
        <tr>
            <td>Section</td>
            <td>{{model.class.section}}</td>
            <td></td>
        </tr>
        <tr>
            <td>CRN</td>
            <td ng-class="{changedFrom: !model.class.crn}">{{model.class.crn || "(to be generated)"}}</td>
            <td></td>
        </tr>
        <tr ng-class="{'modified': model.differentFromLastYear(['shortTitle'])}">
            <td>Title</td>
            <td>
                <input ng-if="!model.loggedInUser.admin" type="text" ng-model="model.class.shortTitle"/>
                <div ng-if="model.loggedInUser.admin" class="italics">{{model.class.shortTitle}}</div>
            </td>
            <td>
                <div ng-class="{hidden: !model.differentFromLastYear(['shortTitle'])}" class="changedFrom">
                    {{model.class.old.shortTitle}}
                </div>
            </td>
        </tr>
        <tr ng-class="{'modified': model.differentFromLastYear(['meetingDays', 'meetingStart', 'meetingEnd'])}">
            <td>Meeting Times</td>
            <td>
                <div ng-if="!model.loggedInUser.admin">
                    <select ng-model="model.class.meetingDays"
                            ng-options="option for option in model.allMeetingDays"
                            ng-change="model.updateOnChangeOfTime(0)">
                    </select>

                    <select ng-model="model.class.meetingStart"
                            ng-options="option for option in model.allMeetingStartTimes"
                            ng-change="model.updateOnChangeOfTime(1)">
                    </select>
                    —
                    <select ng-model="model.class.meetingEnd"
                            ng-options="option for option in model.allMeetingEndTimes"
                            ng-change="model.updateOnChangeOfTime(0)">
                    </select>
                </div>
                <div ng-if="model.loggedInUser.admin" class="italics">
                    {{model.class.meetingDays + ", " + model.class.meetingStart + "—" + model.class.meetingEnd}}
                </div>
            </td>
            <td>
                <div ng-class="{hidden: !model.differentFromLastYear(['meetingDays', 'meetingStart', 'meetingEnd'])}"
                     class="changedFrom">{{model.class.old.meetingDays + ", " + model.class.old.meetingStart + "—" +
                    model.class.old.meetingEnd}}
                </div>
            </td>
        </tr>
        <tr ng-class="{'modified': model.differentFromLastYear(['primaryInstructor'])}">
            <td>Primary Instructor</td>
            <td>
                <div ng-show="!model.loggedInUser.admin">
                    <select class="select2 largeSelect2" style="width: 200px" ng-model="model.class.primaryInstructor"
                            ng-options="option.nuid as option.name for option in model.allInstructors">
                    </select>
                </div>
                <div ng-show="model.loggedInUser.admin" class="italics">
                    {{model.extractTargetAttributes("name", "nuid", model.allPrimaryInstructors,
                    [model.class.primaryInstructor])}}
                </div>
            </td>
            <td>
                <div ng-class="{hidden: !model.differentFromLastYear(['primaryInstructor'])}"
                     class="changedFrom">{{model.extractTargetAttributes("name", "nuid", model.allPrimaryInstructors,
                    [model.class.old.primaryInstructor])}}
                </div>
            </td>
        </tr>
        <tr>
        <tr ng-class="{'modified': model.differentFromLastYear(['secondaryInstructors'])}">
            <td>Secondary Instructors {{model.class.secondaryInstructors}}</td>
            <td>
                <div ng-show="!model.loggedInUser.admin">
                    <select class="select2 largeSelect2" style="width: 200px" ng-model="model.class.secondaryInstructors" multiple="multiple"
                        ng-options="option.nuid as option.name for option in model.allInstructors">
                    </select>
                </div>
                <div ng-show="model.loggedInUser.admin" class="italics">
                    {{model.extractTargetAttributes("name", "nuid", model.allSecondaryInstructors,
                    model.class.secondaryInstructors)}}
                </div>
            </td>
            <td>
                <div ng-class="{hidden: !model.differentFromLastYear(['secondaryInstructors'])}"
                     class="changedFrom">{{model.extractTargetAttributes("name", "nuid", model.allSecondaryInstructors,
                    model.class.old.secondaryInstructors)}}
                </div>
            </td>
        </tr>
        <tr ng-class="{'modified': model.differentFromLastYear(['enrollmentMax'])}">
            <td>Enrollment Maximum</td>
            <td>
                <input ng-if="!model.loggedInUser.admin" ng-model="model.class.enrollmentMax" type="number" min="1"
                       step="1"/>
                <div ng-if="model.loggedInUser.admin" class="italics">{{model.class.enrollmentMax}}</div>
            </td>
            <td>
                <div ng-class="{hidden: !model.differentFromLastYear(['enrollmentMax'])}"
                     class="changedFrom">{{model.class.old.enrollmentMax}}
                </div>
            </td>
        </tr>
        <tr ng-class="{'modified': model.differentFromLastYear(['waitlistCapacity'])}">
            <td>Waitlist?</td>
            <td>
                <select ng-if="!model.loggedInUser.admin" ng-model="model.class.waitlistCapacity">
                    <option ng-repeat="option in [{capacity: 99, indicator: 'Y'}, {capacity: 0, indicator: 'N'}]" ng-value="option.capacity">
                        {{option.indicator}}
                    </option>
                </select>

                <div ng-if="model.loggedInUser.admin" class="italics">{{model.class.waitlistCapacity ? "Y" : "N"}}</div>
            </td>
            <td>
                <div ng-class="{hidden: !model.differentFromLastYear(['waitlistCapacity'])}"
                     class="changedFrom">{{model.class.old.waitlistCapacity ? "Y" : "N"}}
                </div>
            </td>
        </tr>
        <tr ng-class="{'modified': model.differentFromLastYear(['campus'])}">
            <td>Campus</td>
            <td>
                <select ng-if="!model.loggedInUser.admin" ng-model="model.class.campus"
                        ng-options="option for option in model.allCampuses">
                </select>
                <div ng-if="model.loggedInUser.admin" class="italics">{{model.class.campus}}</div>
            </td>
            <td>
                <div ng-class="{hidden: !model.differentFromLastYear(['campus'])}" class="changedFrom">
                    {{model.class.old.campus}}
                </div>
            </td>
        </tr>
        <tr ng-class="{'modified': model.differentFromLastYear(['instructionalMethod'])}">
            <td>Instructional Method</td>
            <td>
                <select ng-if="!model.loggedInUser.admin"
                        ng-model="model.class.instructionalMethod"
                        ng-options="option for option in model.allInstructionalMethods">
                </select>
                <div ng-if="model.loggedInUser.admin" class="italics">{{model.class.instructionalMethod}}</div>
            </td>
            <td>
                <div ng-class="{hidden: !model.differentFromLastYear(['instructionalMethod'])}"
                     class="changedFrom">{{model.class.old.instructionalMethod}}
                </div>
            </td>
        </tr>
        <tr ng-class="{'modified': model.differentFromLastYear(['specialApprovals'])}">
            <td>Special Approvals</td>
            <td>
                <select ng-if="!model.loggedInUser.admin"
                        ng-model="model.class.specialApprovals"
                        ng-options="option for option in model.allSpecialApprovals">
                </select>
                <div ng-if="model.loggedInUser.admin" class="italics">{{model.class.specialApprovals ?
                    model.class.specialApprovals : "(none)"}}
                </div>
            </td>
            <td>
                <div ng-class="{hidden: !model.differentFromLastYear(['specialApprovals'])}"
                     class="changedFrom">{{model.class.old.specialApprovals ? model.class.old.specialApprovals :
                    "(none)"}}
                </div>
            </td>
        </tr>
        <tr ng-class="{'modified': model.differentFromLastYear(['majorRestrictions', 'includeMajorRestrictions'])}">
            <td>Major Restrictions</td>
            <td>
                <div ng-show="!model.loggedInUser.admin">
                    <label class="margin-right-10">
                        <input type="radio" ng-model="model.class.includeMajorRestrictions" ng-value="!!model">
                        Include
                    </label>
                    <label>
                        <input type="radio" ng-model="model.class.includeMajorRestrictions" ng-value="!model">
                        Exclude
                    </label><br/>
                    <select class="select2" ng-model="model.class.majorRestrictions" multiple="multiple">
                        <option ng-repeat="option in model.allRestrictions.majorRestrictions"
                                ng-value="option.majorCode">
                            {{option.majorCode + " " + option.majorDescription}}
                        </option>
                    </select>
                </div>
                <div ng-show="model.loggedInUser.admin" class="italics">
                    {{(model.class.includeMajorRestrictions ? "Include: " : "Exclude: ") +
                    model.extractTargetAttributes("majorDescription", "majorCode",
                    model.allRestrictions.majorRestrictions,
                    model.class.majorRestrictions)}}
                </div>
            </td>
            <td>
                <div ng-class="{hidden: !model.differentFromLastYear(['majorRestrictions', 'includeMajorRestrictions'])}"
                     class="changedFrom">{{(model.class.old.includeMajorRestrictions ? "Include: " : "Exclude: ") +
                    model.extractTargetAttributes("majorDescription", "majorCode",
                    model.allRestrictions.majorRestrictions,
                    model.class.old.majorRestrictions)}}
                </div>
            </td>
        </tr>
        <tr ng-class="{'modified': model.differentFromLastYear(['classRestrictions', 'includeClassRestrictions'])}">
            <td>Class Restrictions</td>
            <td>
                <div ng-show="!model.loggedInUser.admin">
                    <label class="margin-right-10">
                        <input type="radio" ng-model="model.class.includeClassRestrictions" ng-value="!!model">
                        Include
                    </label>
                    <label>
                        <input type="radio" ng-model="model.class.includeClassRestrictions" ng-value="!model">
                        Exclude
                    </label><br/>
                    <select class="select2" ng-model="model.class.classRestrictions" multiple="multiple">
                        <option ng-repeat="option in model.allRestrictions.classRestrictions"
                                ng-value="option.classCode">
                            {{option.classCode + " " + option.classDescription}}
                        </option>
                    </select>
                </div>
                <div ng-show="model.loggedInUser.admin" class="italics">
                    {{(model.class.includeClassRestrictions ? "Include: " : "Exclude: ") +
                    model.extractTargetAttributes("classDescription", "classCode",
                    model.allRestrictions.classRestrictions,
                    model.class.classRestrictions)}}
                </div>
            </td>
            <td>
                <div ng-class="{hidden: !model.differentFromLastYear(['classRestrictions', 'includeClassRestrictions'])}"
                     class="changedFrom">{{(model.class.old.includeClassRestrictions ? "Include: " : "Exclude: ") +
                    model.extractTargetAttributes("classDescription", "classCode",
                    model.allRestrictions.classRestrictions,
                    model.class.old.classRestrictions)}}
                </div>
            </td>
        </tr>
        <tr ng-class="{'modified': model.differentFromLastYear(['levelRestrictions', 'includeLevelRestrictions'])}">
            <td>Level Restrictions</td>
            <td>
                <div ng-show="!model.loggedInUser.admin">
                    <label class="margin-right-10">
                        <input type="radio" ng-model="model.class.includeLevelRestrictions" ng-value="!!model">
                        Include
                    </label>
                    <label>
                        <input type="radio" ng-model="model.class.includeLevelRestrictions" ng-value="!model">
                        Exclude
                    </label><br/>
                    <select class="select2" ng-model="model.class.levelRestrictions" multiple="multiple">
                        <option ng-repeat="option in model.allRestrictions.levelRestrictions"
                                ng-value="option.levelCode">
                            {{option.levelCode + " " + option.levelDescription}}
                        </option>
                    </select>
                </div>
                <div ng-show="model.loggedInUser.admin" class="italics">
                    {{(model.class.includeLevelRestrictions ? "Include: " : "Exclude: ") +
                    model.extractTargetAttributes("levelDescription", "levelCode",
                    model.allRestrictions.levelRestrictions,
                    model.class.levelRestrictions)}}
                </div>
            </td>
            <td>
                <div ng-class="{hidden: !model.differentFromLastYear(['levelRestrictions', 'includeLevelRestrictions'])}"
                     class="changedFrom">{{(model.class.old.includeLevelRestrictions ? "Include: " : "Exclude: ") +
                    model.extractTargetAttributes("levelDescription", "levelCode",
                    model.allRestrictions.levelRestrictions,
                    model.class.old.levelRestrictions)}}
                </div>
            </td>
        </tr>
        <tr ng-class="{'modified': model.differentFromLastYear(['programRestrictions', 'includeProgramRestrictions'])}">
            <td>Program Restrictions</td>
            <td>
                <div ng-show="!model.loggedInUser.admin">
                    <label class="margin-right-10">
                        <input type="radio" ng-model="model.class.includeProgramRestrictions" ng-value="!!model">
                        Include
                    </label>
                    <label>
                        <input type="radio" ng-model="model.class.includeProgramRestrictions" ng-value="!model">
                        Exclude
                    </label><br/>
                    <select class="select2" ng-model="model.class.programRestrictions" multiple="multiple">
                        <option ng-repeat="option in model.allRestrictions.programRestrictions"
                                ng-value="option.programCode">
                            {{option.programCode + " " + option.programDescription}}
                        </option>
                    </select>
                </div>
                <div ng-show="model.loggedInUser.admin" class="italics">
                    {{(model.class.includeProgramRestrictions ? "Include: " : "Exclude: ") +
                    model.extractTargetAttributes("programDescription", "programCode",
                    model.allRestrictions.programRestrictions,
                    model.class.programRestrictions)}}
                </div>
            </td>
            <td>
                <div ng-class="{hidden: !model.differentFromLastYear(['programRestrictions', 'includeProgramRestrictions'])}"
                     class="changedFrom">{{(model.class.old.includeProgramRestrictions ? "Include: " : "Exclude: ") +
                    model.extractTargetAttributes("programDescription", "programCode",
                    model.allRestrictions.programRestrictions,
                    model.class.old.programRestrictions)}}
                </div>
            </td>
        </tr>
        <tr ng-class="{'modified': model.differentFromLastYear(['collegeRestrictions', 'includeCollegeRestrictions'])}">
            <td>College Restrictions</td>
            <td>
                <div ng-show="!model.loggedInUser.admin">
                    <label class="margin-right-10">
                        <input type="radio" ng-model="model.class.includeCollegeRestrictions" ng-value="!!model">
                        Include
                    </label>
                    <label>
                        <input type="radio" ng-model="model.class.includeCollegeRestrictions" ng-value="!model">
                        Exclude
                    </label><br/>
                    <select class="select2" ng-model="model.class.collegeRestrictions" multiple="multiple">
                        <option ng-repeat="option in model.allRestrictions.collegeRestrictions"
                                ng-value="option.collegeCode">
                            {{option.collegeCode + " " + option.collegeDescription}}
                        </option>
                    </select>
                </div>
                <div ng-show="model.loggedInUser.admin" class="italics">
                    {{(model.class.includeCollegeRestrictions ? "Include: " : "Exclude: ") +
                    model.extractTargetAttributes("collegeRestriction", "collegeCode",
                    model.allRestrictions.collegeRestrictions,
                    model.class.collegeRestrictions)}}
                </div>
            </td>
            <td>
                <div ng-class="{hidden: !model.differentFromLastYear(['collegeRestrictions', 'includeCollegeRestrictions'])}"
                     class="changedFrom">{{(model.class.old.includeCollegeRestrictions ? "Include: " : "Exclude: ") +
                    model.extractTargetAttributes("collegeRestriction", "collegeCode",
                    model.allRestrictions.collegeRestrictions,
                    model.class.old.collegeRestrictions)}}
                </div>
            </td>
        </tr>
        <tr ng-class="{'modified': model.differentFromLastYear(['billingAttributes'])}">
            <td>Billing Attributes</td>
            <td>
                <div ng-show="!model.loggedInUser.admin">
                    <select class="select2" ng-model="model.class.billingAttributes" multiple="multiple">
                        <option ng-repeat="option in model.allBillingAttributes" ng-value="option.billingAttributeCode">
                            {{option.billingAttributeCode + " " + option.billingAttributeDescription}}
                        </option>
                    </select>
                </div>
                <div ng-show="model.loggedInUser.admin" class="italics">
                    {{model.extractTargetAttributes("billingAttributeDescription", "billingAttributeCode",
                    model.allBillingAttributes,
                    model.class.billingAttributes)}}
                </div>
            </td>
            <td>
                <div ng-class="{hidden: !model.differentFromLastYear(['billingAttributes'])}"
                     class="changedFrom">{{model.extractTargetAttributes("billingAttributeDescription",
                    "billingAttributeCode", model.allBillingAttributes,
                    model.class.old.billingAttributes)}}
                </div>
            </td>
        </tr>
        <tr ng-class="{'modified': model.differentFromLastYear(['honors'])}">
            <td>Honors</td>
            <td>
                <select ng-if="!model.loggedInUser.admin" ng-model="model.class.honors"
                        ng-options="option for option in model.yesOrNo">
                </select>
                <div ng-if="model.loggedInUser.admin" class="italics">{{model.class.honors}}</div>
            </td>
            <td>
                <div ng-class="{hidden: !model.differentFromLastYear(['honors'])}" class="changedFrom">
                    {{model.class.old.honors}}
                </div>
            </td>
        </tr>
        <tr ng-class="{'modified': model.differentFromLastYear(['doNotPublish'])}">
            <td>Hide on Banner Schedule?</td>
            <td>
                <select ng-if="!model.loggedInUser.admin"
                        ng-model="model.class.doNotPublish"
                        ng-options="option for option in model.yesOrNo">
                </select>
                <div ng-if="model.loggedInUser.admin" class="italics">{{model.class.doNotPublish}}</div>
            </td>
            <td>
                <div ng-class="{hidden: !model.differentFromLastYear(['doNotPublish'])}"
                     class="changedFrom">{{model.class.old.doNotPublish}}
                </div>
            </td>
        </tr>
        <tr ng-class="{'modified': model.differentFromLastYear(['status'])}">
            <td>Status</td>
            <td>
                <select ng-if="!model.loggedInUser.admin" ng-model="model.class.status">
                    <option ng-repeat="option in model.allStatuses"
                            ng-value="option.code">
                        {{option.description}}
                    </option>
                </select>
                <div ng-if="model.loggedInUser.admin" class="italics">{{model.extractTargetAttributes("description", "code", model.allStatuses, model.class.status)}}</div>
            </td>
            <td>
                <div ng-class="{hidden: !model.differentFromLastYear(['status'])}" class="changedFrom">
                    {{model.extractTargetAttributes("description", "code", model.allStatuses, model.class.old.status)}}
                </div>
            </td>
        </tr>
        <tr ng-class="{'modified': model.differentFromLastYear(['comment'])}">
            <td>Comment</td>
            <td>
                <textarea ng-if="!model.loggedInUser.admin" ng-model="model.class.comment"/>
                <div ng-if="model.loggedInUser.admin" class="italics">{{model.class.comment ? model.class.comment :
                    "(none)"}}
                </div>
            </td>
            <td>
                <div ng-class="{hidden: !model.differentFromLastYear(['comment'])}" class="changedFrom">
                    {{model.class.old.comment ? model.class.old.comment : "(none)"}}
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <div class="color-legend color-legend2">
                    <div class="color-legend-item">
                        <div class="color-box modified"/>
                        <div class="text-box">Modified data</div>
                    </div>
                    <div class="color-legend-item">
                        <div class="color-box unmodified"/>
                        <div class="text-box">Unmodified data</div>
                    </div>
                </div>
            </td>
            <td ng-class="{hidden: model.class.metadata && model.class.metadata.added}" class="changedFrom">
                <div class="text-box">Last year's data in gray, if changed</div>
            </td>
        </tr>
        </tbody>
    </table>
    <div id="toast" ng-click="model.toastMessage(0)">
        Time selected is during peak hours <b>MWR 9:15-15:25, TF 9:50-15:25</b>, please proceed with caution.
    </div>

    <div ng-if="!model.loggedInUser.admin">
        <button ng-click="model.saveAndReturnToSchedule()" type="button" class="btn btn-primary">Save & Return</button>
        <button ng-click="model.returnToSchedule()" type="button" class="btn btn-warning">Cancel</button>
    </div>
    <div ng-if="model.loggedInUser.admin">
        <button ng-click="model.returnToSchedule()" type="button" class="btn btn-primary">Return to Schedule</button>
    </div>
</div>
