<script type="text/javascript">
    $('select.select2').select2();
</script>

<div class="container">
    <h1 class="margin-bottom-20">
        Add Class
    </h1>

    <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <table class="table narrow">
        <tbody>
        <tr>
            <td>Subject Code</td>
            <td>
                <select class="select2" ng-model="model.selectedSubjectCode">
                    <option ng-repeat="option in model.allSubjectCodes">{{option}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Course Number</td>
            <td>
                <input id="courseNumber" ng-model="model.selectedCourseNumber" maxlength="4" type="text" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="button" class="btn btn-success"
                        ng-click="model.getMostRecentCourseData(model.selectedSubjectCode, model.selectedCourseNumber)">
                    Load Most Recent Data
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <table ng-show="model.class" class="table narrow">
        <tbody>
        <tr>
            <td>Course</td>
            <td>{{model.class.subjectCode}} {{model.class.courseNumber}}</td>
        </tr>
        <tr>
            <td>Section</td>
            <td>{{model.class.section}}</td>
        </tr>
        <tr>
            <td>CRN</td>
            <td>{{model.class.crn}}</td>
        </tr>
        <tr>
            <td>Title</td>
            <td>
                <input ng-model="model.class.shortTitle"></input>
            </td>
        </tr>
        <tr>
            <td>Meeting Times</td>
            <td>
                <select ng-model="model.class.meetingDays"
                        ng-options="option for option in model.allMeetingDays"
                        ng-change="model.updateOnChangeOfTime(0)">
                </select>

                <select ng-model="model.class.meetingStart"
                        ng-options="option for option in model.allMeetingStartTimes"
                        ng-change="model.updateOnChangeOfTime(1)">
                </select>
                —
                <select ng-model="model.class.meetingEnd"
                        ng-options="option for option in model.allMeetingEndTimes"
                        ng-change="model.updateOnChangeOfTime(0)">
                </select>
            </td>
        </tr>
        <tr>
            <td>Primary Instructor</td>
            <td>
                <select class="select2" ng-model="model.class.primaryInstructor">
                    <option ng-repeat="option in model.allPrimaryInstructors track by option.nuid" ng-value="option.nuid">{{option.nuid}} {{option.name}}</option>
                </select>
            </td>
        </tr>
        <tr>
        <tr>
            <td>Secondary Instructors</td>
            <td>
                <select class="select2" ng-model="model.class.secondaryInstructors" multiple="multiple">
                    <option ng-repeat="option in model.allSecondaryInstructors" ng-value="option.nuid">{{option.nuid}} {{option.name}}</option>
                </select>
            </td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td>Enrollment Maximum</td>
            <td>
                <input ng-model="model.class.enrollmentMax">
            </td>
        </tr>
        <tr>
            <td>Honors</td>
            <td>
                <select ng-model="model.class.honors" ng-options="option for option in model.allHonors">
                </select>
            </td>
        </tr>
        <tr>
            <td>Campus</td>
            <td>
                <select ng-model="model.class.campus" ng-options="option for option in model.allCampuses">
                </select>
            </td>
        </tr>
        <tr>
            <td>Instructional Method</td>
            <td>
                <select ng-model="model.class.instructionalMethod"
                        ng-options="option for option in model.allInstructionalMethods">
                </select>
            </td>
        </tr>
        <tr>
            <td>Enable Waitlist?</td>
            <td>
                <select ng-model="model.class.waitlist" ng-options="option for option in model.allWaitlist">
                </select>
            </td>
        </tr>
        <tr>
            <td>Special Approvals</td>
            <td>
                <select ng-model="model.class.specialApprovals"
                        ng-options="option for option in model.allSpecialApprovals">
                </select>
            </td>
        </tr>
        <tr>
            <td>Remove from Banner?</td>
            <td>
                <select ng-model="model.class.doNotPublish" ng-options="option for option in model.allDoNotPublish">
                </select>
            </td>
        </tr>
        <tr>
            <td>Cancel Class?</td>
            <td>
                <select ng-model="model.class.cancel" ng-options="option for option in model.allCancel">
                </select>
            </td>
        </tr>
        <tr>
            <td>Comment</td>
            <td>
                <textarea ng-model="model.class.comment"/>
            </td>
        </tr>
        </tbody>
    </table>
    <div id="toast" ng-click="model.toastMessage(0)">
        Time selected is during peak hours <b>MWR 9:15-15:25, TF 9:50-15:25</b>
        , please process with caution.
    </div>
    <div ng-if="model.class">
        <button ng-click="model.saveAndReturnToSchedule()" type="button" class="btn btn-primary">Add to Schedule</button>
        <button ng-click="model.returnToSchedule()" type="button" class="btn btn-warning">Cancel</button>
    </div>
</div>
